default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  timeout: 5000
  username:
  password:

development:
  <<: *default
  database: infrastructure-pdp-development

test:
  <<: *default
  database: infrastructure-pdp-test

production:
  <<: *default
  database: infrastructure-pdp-production
